@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>David Lawrence Real Estate</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome</h2>
        <p>
            Based in Christchurch, we are committed to offering a personalised residential real estate sales service 
            at a reasonable price. Our agents are local area specialists who can give you the best strategy for marketing your home.
        </p>

        <p>We are a member of the Real Estate Institute of New Zealand and a Licensed Agent under the Real Estate Agents Act 2008.</p>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <img src="~/Resources/Images/homepage-house-image.120x90.jpg" width="100%" alt="house interior modern kitchen"/>
    </div>
</div>